@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: #070707;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

body {
  background: #040406;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.pages-container {
  @apply flex flex-col h-screen max-w-7xl mx-auto;
}

.flex-col-4 {
  @apply flex flex-col gap-4;
}
.flex-col-2 {
  @apply flex flex-col gap-2;
}

.common-input {
  @apply rounded-sm bg-amber-50 p-2 text-black;
}

