@import "tailwindcss";


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: #2f3834;
}

body {
  background: #ededed;
  color: #0a0a0a;
  font-family: Arial, Helvetica, sans-serif;
}


.display-column-4 {
  @apply flex flex-col gap-4;
}
